.donated_book {
  border: .1rem solid #005695;
  border-radius: 2rem;
  width: 18rem;
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  img {
    width: 8rem;
  }

  p {
    font-size: 1.3rem;
    text-align: center;
  }
}